{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Targeted Regression Optimizer</title>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
<!--    <script defer src="{% static 'chartjs/package/dist/chart.js' %}"></script>-->
    <script defer src="{% static 'index.js' %}"></script>
</head>

<body>
    <div class="title">
        <div>Targeted Regression Optimizer</div>
    </div>
    <div>

        <button type="button" onclick="getAllData()">GET</button>
        <div id="employee_data"></div>

    </div>

    <div class="mainlayout">


    </div>
</body>

</html>